*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: #333;
}

nav li{
  display: inline-block;
}

nav li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px;
}

nav li a:hover{
  background-color: red;
}

.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px black;
  display: none;
}

.dropdown-menu a{
  display: block;
  color: black;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

p{
  font-size: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-fixed{
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  background-color: black;
}
.btn-fixed.visible{
  visibility: visible;
}

a:hover{
  color: blue;
}